@import "tailwindcss";

@theme {
  --font-display: "Poppins", "serif";
  --color-primary-pink: oklch(56.85% 0.1946 6.12);
  --color-dark-gray: oklch(62.68% 0 0);
  --color-primary-black: oklch(26.03% 0 0);
  --color-disabled-gray: oklch(88.53% 0 0);

  --breakpoint-xs: 390px;
  --breakpoint-sm: 430px;
  --breakpoint-md: 480px;
  --breakpoint-lg: 768px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1920px;



}

.font-headings {
  @apply uppercase font-bold leading-[120%];
}